.form-container {
  display: flex;
  height: 90vh;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: radial-gradient(
    circle,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
}

.form-inner-element {
  max-width: 700px;
  width: 100%;
  background: #ffffff;
  padding: 25px 30px;
  border-radius: 5px;
}

.form-title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
  font-family: "Poppins", sans-serif;
}

.form-title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  background: linear-gradient(rgba(253, 29, 29, 1), rgba(252, 176, 69, 1));
}

form .activity-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}

form .activity-details .input-box {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}

.activity-details .input-box .details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
  font-family: "Heebo", sans-serif;
}

.activity-details .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.6s ease;
  font-family: "Heebo", sans-serif;
}

select {
  height: 45px;
  width: 100%;
}

form .form-button {
  height: 45px;
  display: flex;
  gap: 10px;
  flex-direction: row;
}

#addButton {
  height: 50px;
  color: #000;
  font-size: 18px;
  margin-top: 25px;
  font-weight: 500;
  padding: 5px 10px;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  border-style: solid;
}
form .form-button input[type="reset"] {
  height: 100%;
  flex: 1;
  color: #000;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  border-style: solid;
}

form .form-button input[type="submit"] {
  height: 100%;
  flex: 3;
  color: #000;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  border-style: solid;
}

form .form-button input[type="reset"]:hover {
  color: #ffffff;
  background-color: #adb0b5;
}

form .form-button input[type="submit"]:hover {
  color: #ffffff;
  background-color: #000024;
}

#outlined-basic {
  font-family: "Heebo", sans-serif;
}

#transition-modal-title {
  font-family: "Poppins", sans-serif;
}

@media (max-width: 584px) {
  .form-inner-element {
    max-width: 100%;
  }
  form .activity-details .input-box {
    margin-bottom: 15px;
    width: 100%;
  }
}
